:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: inherit;
}
body {
  margin: 0;
  background: #232a32;
  min-height: 100vh;
  overflow: hidden;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #fff;
    background-color: #fff;
  }
}
#root {
  max-width: 1280px;
  padding: 0;
}
@media (max-width: 600px) {
  .Splash {
    height: 100vh;
    width: 100%;
  }
  body {
    background: #232a32;
  }
  .logo {
    height: 80px;
    width: 80px;
  }
}
.card {
  border: 2px solid black;
  height: 100px;
  width: 700px;
}
.red {
  background-color: brown;
}
.lila {
  background: #ac18e2;
}
.Splash {
  background: #232a32;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.logo {
  height: 150px;
  width: 150px;
}
.contenedor-Navegacion {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 2px;
  justify-content: space-between;
}
.titulo-Navegacion {
  border-radius: 50%;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  background-color: #b5a6c4;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.cabecera {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-left: 6px;
}
.texto-Navegacion {
  font-size: 20px;
}
.icono-Navegacion {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 12px;
  margin-right: 6px;
}
.TagsItem {
  color: #fff;
  background-color: #f4f4f050;
  height: 30px;
  display: inline-flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
  padding: 2px 10px;
  font-size: 16px;
}
.contenedor-footer {
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 5px;
  left: 0;
  background: #2d2d2d92;
}
.FooterItem {
  display: flex;
  width: 25%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.FooterItem:hover {
  background: #95959570;
}
.ctn-CardReproduccion {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  height: 230px;
}
.ctn-CardReproduccion h2 {
  font-size: 17px;
  margin: 0;
  padding-bottom: 7px;
}
.ctn-item-reproduccion {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.portada-imagen {
  display: flex;
  justify-content: center;
  width: 100%;
}
.img-reproduccion {
  width: 150px;
  height: 150px;
}
.texto-reproduccion {
  font-size: 17px;
  display: flex;
  justify-content: center;
}
.TagsContenedor {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 8px;
}
